<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MeatApp v-1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md='3'>
        <ion-list>
          <ion-item button [routerLink]="['/cut-list']">
            <h1>
              Cortes de Carne
            </h1>
          </ion-item>
          <ion-item button [routerLink]="['/recipe-list']" disabled="true">
            <h1>  
              Recetas con Carne
            </h1>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>