<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="recipe">
        {{ recipe.recipeName }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md='3'>
          <ion-list>
            <ion-item *ngIf="recipe">
              Nombre:
            </ion-item>
            <ion-item>
              <h3>{{ recipe.recipeName }}</h3>
            </ion-item>
            <ion-item>
              Cortes:
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size-md="5" offset-md='3'>
                    <ion-item *ngFor="let cuts of cutArray">
                      <h4>{{ cuts }}</h4>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="primary" [routerLink]="['/recipe-detail-edit', recipe.id]" routerDirection="forward">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
  