<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MeatApp v-1.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="cut-list">
        <ion-label>Cuts</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="recipe-list">
        <ion-label>Recipes</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>