<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col size-md="6" offset-md='3'>
        <ion-list>
          <ion-item button [routerLink]="['/cut-list']">
            <h1>
              Cortes de Carne
            </h1>
          </ion-item>
          <ion-item button [routerLink]="['/recipe-list']">
            <h1>  
              Recetas con Carne
            </h1>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">

  <ion-tab-button tab="cut-list">
    <ion-label>Cuts</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="recipe-list">
    <ion-label>Recipes</ion-label>
    <ion-icon name="settings"></ion-icon>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->
